:host {
	display: block;
	overflow: hidden;
	height: {{height}}px;
}

.slides-wrapper {
	width: 2000em;
	height: {{height}}px;
}
.slides-wrapper--slide {
	-webkit-transition: -webkit-transform {{transitionDuration}}ms cubic-bezier(.15,.92,.17,.93);
	        transition: transform {{transitionDuration}}ms cubic-bezier(.15,.92,.17,.93);
	-webkit-transform: translate3d({{-selected * width}}px, 0, 0);
	        transform: translate3d({{-selected * width}}px, 0, 0);
	will-change: transform;
}

.slides-wrapper--fade {
	position: relative;
}

polyfill-next-selector { content: ':host > *'; }
::content > * {
	float:left;
	height: 100%;
	width: {{width}}px;
	background-color: red;
}

polyfill-next-selector { content: ':host > .slides-wrapper--fade *'; }
.slides-wrapper--fade ::content > * {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity {{transitionDuration}}ms;
	        transition: opacity {{transitionDuration}}ms;
}

polyfill-next-selector { content: ':host > .slides-wrapper--fade .core-selected'; }
.slides-wrapper--fade ::content > .core-selected {
	opacity: 1;
}
